:root {
    --header: #ccc;
    --bg1: black;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
h1 {
    text-align: center;
}

#title {
    background-color: var(--header);
    border-bottom: 1px var(--bg1) solid;
    padding: 0.5rem;
}

/* Main */

main {
    text-align: center;
    padding: 1rem;
}

#city {
    width: 400px;
    padding: 0.5rem;
    border: 1px solid var(--bg1);
    border-radius: 4px;
}

.search-button {
    padding: 0.5rem;
    background-color: var(--header);
    border: 1px solid var(--bg1);
    border-radius: 4px;
}

.forecast {
    display: flex;
    width: 600px;
    flex-direction: column;
    border: 2px solid var(--bg1);
    border-radius: 20px;
    margin: 2rem auto;
    gap: 3px;
    padding: 1rem;
}

.forecast p {
    max-width: 30ch;
    margin: 0 auto;
    font-style: italic;
}

.forecast img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    align-self: center;
}

.days-container {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.day {
    border: 2px var(--bg1) solid;
    width: 120px;
    padding: 10px 0;
}

.day img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

/* Footer */

footer {
    margin-top: auto;
    background-color: var(--header);
    border-top: 1px solid var(--bg1);
    padding: 0.5rem;
}

.plug {
    text-align: center;
}